{#
/**
 * @file
 * Theme implementation of the 'accessory_title' theme hook.
 *
 * @see template_preprocess_accessory_title()
 */
#}
<h4 class="accessory__sku">{{ sku }}</h4><div class="accessory__name">{{ name }}</div>
