{#
/**
 * @file
 * Theme implementation of the 'accessory_image' theme hook.
 *
 * @see template_preprocess_accessory_image()
 */
#}
<div{{ attributes }}>
  {% if zoomed and item_id %}
  <div class="tooltipster" data-tooltip-content="#tooltip-content-{{ item_id }}">
    <img src="{{ thumbnail.url }}" alt="" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}"/>
  </div>
  <div class="tooltip-content">
    <div id="tooltip-content-{{ item_id }}">
      <img src="{{ zoomed.url }}" alt="" width="{{ zoomed.width }}" height="{{ zoomed.height }}"/>
    </div>
  </div>
  {% else %}
    <img src="{{ thumbnail.url }}" alt="" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}"/>
  {% endif %}
</div>
