{#
/**
 * @file
 * Theme implementation of the 'finder_result' theme hook.
 *
 * @see template_preprocess_finder_result()
 */
#}
{% if items %}
  <div class="finder-result">
    {% for item in items %}
      <div class="finder-result__item trailer">
        <h2 class="trailer__title">{{ item.title }}</h2>
        <div class="trailer__model">{{ item.model }}</div>
        {% if item.image %}
          <div class="trailer__image">
            {% if item.url %}
              <a href="{{ item.url }}">
            {% endif %}
            <img src="{{ item.image }}" alt="{{ item.title }}"/>
            {% if item.url %}
              </a>
            {% endif %}
          </div>
        {% endif %}
        <div class="trailer__weight">{{ item.total_weight }}</div>
        <div class="trailer__dimensions">{{ item.internal_dimensions }}</div>
        {% if item.url %}
          <div class="trailer__link"><a href="{{ item.url }}">zum Anhänger</a></div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>Es konnte kein Ergebnis zu den von Ihnen gewählten Filterkriterien gefunden werden.</p>
{% endif %}
