{#
/**
 * @file
 * Theme implementation of the 'finder_result' theme hook.
 *
 * @see template_preprocess_finder_result()
 */
#}
{% if items %}
  <div class="facet facet--{{ facet_id }} finderfacet--type-{{ widget_type }}" data-drupal-facet-id="{{ facet_id }}">
    <h3 class="facet__title">{{ label }}</h3>
    <div class="facet__content">
      {% if widget_type == 'range_slider' %}
        <input id="{{ facet_id }}" type="text" data-type="double" data-min="{{ min }}" data-max="{{ max }}" data-from="{{ from }}" data-to="{{ to }}" data-prettify-separator="." data-prefix="" data-postfix="{{ postfix }}" data-grid="{{ slider_grid }}" />
      {% else %}
        <ul class="facet__items">
          {% for index, item in items %}
            <li class="facet__item{% if item.active %} facet__item--active{% endif %}">
              <a class="facet__item__link{% if item.active %} facet__item__link--active{% endif %}" href="{{ item.url }}" data-drupal-facet-item-id="{{ facet_id }}-{{ index }}"{% if item.thumbnail %} data-tn="{{ item.thumbnail }}"{% endif %}>
                <span class="facet__item__label">{{ item.label }}</span>
                {% if item.count %} <span class="facet__item__count">({{ item.count }})</span>{% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endif %}
