{#
/**
 * @file
 * Theme implementation of the 'remote_gallery' theme hook.
 *
 * @see template_preprocess_remote_gallery()
 */
#}
<div{{ attributes.addClass('remote-gallery') }}>
  {% for item in items %}
    {% if item.main %}
    <img src="{{ item.main.url }}" alt=""/>
    {% endif %}
  {% endfor %}
</div>
