{#
/**
 * @file
 * Theme implementation of the 'remote_trailer_page_title' theme hook.
 *
 * @see template_preprocess_remote_trailer_page_title()
 */
#}
<div{{ attributes.addClass('remote-trailer-page-title') }}>
  <h1 class="title title--trailer">{{ title }}{% if sub_title %} <small>Modell: {{ sub_title }}</small>{% endif %}</h1>
  {% if image %}
    <div class="remote-trailer-page-title__image"><img src="{{ image.url }}" alt="{{ title }}" width="{{ image.width }}" height="{{ image.height }}"/></div>
  {% endif %}
  {% if facts %}
    <div class="remote-trailer-page-title__facts">
      {% for fact in facts %}
        <div class="remote-trailer-page-title__facts__fact field">
          <div class="field__label">{{ fact.label }}</div>
          <div class="field__item">{{ fact.value }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
