{#
/**
 * @file
 * Theme implementation of the 'remote_trailer' theme hook.
 *
 * @see template_preprocess_remote_trailer()
 */
#}
<article{{ attributes.addClass(['remote-trailer', 'remote-trailer--full']) }}>
  {{ title_prefix }}
  {% if show_title %}
  <h2 class="remote-trailer__title">{{ title }}{% if sub_title %} <small>Modell: {{ sub_title }}</small>{% endif %}</h2>
  {% endif %}
  {{ title_suffix }}
  {% if show_facts and facts %}
    <div class="remote-trailer__facts">
      {% for fact in facts %}
        <div class="remote-trailer__facts__fact field">
          <div class="field__label">{{ fact.label }}</div>
          <div class="field__item">{{ fact.value }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% if tabs %}
    <div class="remote-trailer__details">
      {% for tab in tabs %}
        <div class="remote-trailer__details__field field">
          <h2 class="field__label">{{ tab.label }}</h2>
          <div class="field__item">{{ tab.value }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</article>
