{#
/**
 * @file
 * Theme implementation of the 'remote_trailer' theme hook.
 *
 * @see template_preprocess_remote_trailer()
 */
#}
<div{{ attributes.addClass('remote-download') }}>
  {{ title_prefix }}
  <a href="{{ url }}" class="remote-download__link" title="Download {{ title }}" target="_blank" rel="noopener">
    <h3 class="remote-download__title">{{ title }}</h3>
    {% if thumbnail %}
      <div class="remote-download__thumbnail"><img src="{{ thumbnail }}" alt="{{ title }}"/></div>
    {% endif %}
  </a>
  {{ title_suffix }}
</div>
