{#
/**
 * @file
 * Theme implementation of the 'remote_trailer_summary' theme hook.
 *
 * @see template_preprocess_remote_trailer_summary()
 */
#}
<article{{ attributes.addClass(['remote-trailer', 'remote-trailer--summary']) }}>
  {{ title_prefix }}
  {% if show_title %}
  <h3 class="remote-trailer__title">{{ title }}</h3>
  {% endif %}
  {{ title_suffix }}
  {% if image %}
    <div class="remote-trailer__image">
      <img src="{{ image.url }}" alt="{{ title }}" width="{{ image.width }}" height="{{ image.height }}"/>
    </div>
  {% endif %}
  {% if facts %}
    <div class="remote-trailer__facts">
      {% for fact in facts %}
        <div class="remote-trailer__facts__fact field">
          <div class="field__label">{{ fact.label }}</div>
          <div class="field__item">{{ fact.value }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</article>
