{#
/**
 * @file
 * Theme implementation of the 'remote_videos' theme hook.
 *
 * @see template_preprocess_remote_videos()
 */
#}
<div{{ attributes.addClass('remote-videos') }}>
  {% for item in items %}
    <div class="responsive-video"><iframe width="640" height="360" src="{{ item.url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
  {% endfor %}
</div>
