{#
/**
 * @file
 * Theme implementation of the 'remote_trailer_summary' theme hook.
 *
 * @see template_preprocess_remote_trailer_summary()
 */
#}
<table{{ attributes.addClass(['remote-trailer', 'remote-trailer--email']) }} style="width: 648px">
  <tr>
    <td colspan="3">
      {{ title_prefix }}
      {% if show_title %}
        <h3 class="remote-trailer__title">{{ title }}</h3>
      {% endif %}
      {{ title_suffix }}
    </td>
  </tr>
  <tr>
    <td style="width: 270px;">
      {% if image %}
        <div class="remote-trailer__image">
          <img src="{{ image.url }}" alt="{{ title }}" style="width: 250px;"/>
        </div>
      {% endif %}
    </td>
    <td style="width: 126px;">
      <div class="remote-trailer__facts__fact field">
        <div class="field__label">{{ facts.total_weight.label }}</div>
        <div class="field__item">{{ facts.total_weight.value }}</div>
      </div>
    </td>
    <td style="width: 252px;">
      <div class="remote-trailer__facts__fact field">
        <div class="field__label">{{ facts.internal_dimensions.label }}</div>
        <div class="field__item">{{ facts.internal_dimensions.value }}</div>
      </div>
    </td>
  </tr>
</table>
